In [50]:
import numpy as np 
import pandas as pd

In [51]:
df = pd.read_csv("mymoviedb.csv", lineterminator='\n')

In [52]:
df.head()

,Release_Date,Title,Overview,Popularity,Vote_Count,Vote_Average,Original_Language,Genre,Poster_Url
0,2021-12-15,Spider-Man: No Way Home,Peter Parker is unmasked and no longer able to...,5083.954,8940,8.3,en,"Action, Adventure, Science Fiction",https://image.tmdb.org/t/p/original/1g0dhYtq4i...
1,2022-03-01,The Batman,"In his second year of fighting crime, Batman u...",3827.658,1151,8.1,en,"Crime, Mystery, Thriller",https://image.tmdb.org/t/p/original/74xTEgt7R3...
2,2022-02-25,No Exit,Stranded at a rest stop in the mountains durin...,2618.087,122,6.3,en,Thriller,https://image.tmdb.org/t/p/original/vDHsLnOWKl...
3,2021-11-24,Encanto,"The tale of an extraordinary family, the Madri...",2402.201,5076,7.7,en,"Animation, Comedy, Family, Fantasy",https://image.tmdb.org/t/p/original/4j0PNHkMr5...
4,2021-12-22,The King's Man,As a collection of history's worst tyrants and...,1895.511,1793,7.0,en,"Action, Adventure, Thriller, War",https://image.tmdb.org/t/p/original/aq4Pwv5Xeu...

In [53]:
df.sample(5)

,Release_Date,Title,Overview,Popularity,Vote_Count,Vote_Average,Original_Language,Genre,Poster_Url
7410,1964-09-03,El Padrecito,Young priest Father Sebasti√°n is assigned to a...,16.074,118,7.9,es,Comedy,https://image.tmdb.org/t/p/original/cVmRErtcEH...
4548,1988-06-03,Big,When a young boy makes a wish at a carnival ma...,22.450,2823,7.1,en,"Fantasy, Drama, Comedy, Romance, Family",https://image.tmdb.org/t/p/original/nTY8Zmv7mp...
4804,2012-05-04,Angels of Sex,Struggling martial artist and dancer Bruno lov...,21.559,92,6.5,es,"Romance, Drama",https://image.tmdb.org/t/p/original/62rop7kMuS...
7886,2005-09-01,Dungeons & Dragons: Wrath of the Dragon God,"Due to a curse from his former master Profion,...",15.395,79,4.5,en,"Action, Adventure, Fantasy",https://image.tmdb.org/t/p/original/m2lMUxyFDi...
7827,2011-02-10,Foster,Some years after their son is killed in an acc...,15.463,88,6.8,en,"Comedy, Drama, Family",https://image.tmdb.org/t/p/original/6zcHkncjKq...

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9827 entries, 0 to 9826
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Release_Date       9827 non-null   object
 1   Title              9827 non-null   object
 2   Overview           9827 non-null   object
 3   Popularity         9827 non-null   float64
 4   Vote_Count         9827 non-null   int64
 5   Vote_Average       9827 non-null   float64
 6   Original_Language  9827 non-null   object
 7   Genre              9827 non-null   object
 8   Poster_Url         9827 non-null   object
dtypes: float64(2), int64(1), object(6)
memory usage: 691.1+ KB

In [55]:
df['Genre'].head()

0    Action, Adventure, Science Fiction
1              Crime, Mystery, Thriller
2                              Thriller
3    Animation, Comedy, Family, Fantasy
4      Action, Adventure, Thriller, War
Name: Genre, dtype: object

In [56]:
df.duplicated().sum()

0

In [57]:
df.describe()

        Popularity    Vote_Count  Vote_Average
count  9827.000000   9827.000000   9827.000000
mean     40.326088   1392.805536      6.439534
std     108.873998   2611.206907      1.129759
min      13.354000      0.000000      0.000000
25%      16.128500    146.000000      5.900000
50%      21.199000    444.000000      6.500000
75%      35.191500   1376.000000      7.100000
max    5083.954000  31077.000000     10.000000

# data preprocessing

In [58]:
df['Release_Date'] = pd.to_datetime(df['Release_Date'])
print(df['Release_Date'].dtype)

datetime64[ns]

In [59]:
df['Release_Date'] = df['Release_Date'].dt.year

In [60]:
df['Release_Date'].dtypes

dtype('int32')

In [61]:
df.sample()

,Release_Date,Title,Overview,Popularity,Vote_Count,Vote_Average,Original_Language,Genre,Poster_Url
7193,2014,Piranha Sharks,Great white sharks bio-engineered to be the si...,16.403,31,6.9,en,"Horror, Comedy",https://image.tmdb.org/t/p/original/v60laZMOAa...

In [62]:
df.head()

,Release_Date,Title,Overview,Popularity,Vote_Count,Vote_Average,Original_Language,Genre,Poster_Url
0,2021,Spider-Man: No Way Home,Peter Parker is unmasked and no longer able to...,5083.954,8940,8.3,en,"Action, Adventure, Science Fiction",https://image.tmdb.org/t/p/original/1g0dhYtq4i...
1,2022,The Batman,"In his second year of fighting crime, Batman u...",3827.658,1151,8.1,en,"Crime, Mystery, Thriller",https://image.tmdb.org/t/p/original/74xTEgt7R3...
2,2022,No Exit,Stranded at a rest stop in the mountains durin...,2618.087,122,6.3,en,Thriller,https://image.tmdb.org/t/p/original/vDHsLnOWKl...
3,2021,Encanto,"The tale of an extraordinary family, the Madri...",2402.201,5076,7.7,en,"Animation, Comedy, Family, Fantasy",https://image.tmdb.org/t/p/original/4j0PNHkMr5...
4,2021,The King's Man,As a collection of history's worst tyrants and...,1895.511,1793,7.0,en,"Action, Adventure, Thriller, War",https://image.tmdb.org/t/p/original/aq4Pwv5Xeu...

In [63]:
df['tags'] = df['Overview'] + df['Genre']
df['content'] = df['tags'] + df['Original_Language']

In [64]:
import string

def clean_text(text):
    text = str(text).lower()                     # Lowercase
    text = text.translate(str.maketrans('', '', string.punctuation))  # Remove punctuation
    return text

df['Overview'] = df['Overview'].apply(clean_text)
df['Genre'] = df['Genre'].apply(clean_text)
df['Original_Language'] = df['Original_Language'].apply(clean_text)

In [65]:
df.head()

,Release_Date,Title,Overview,Popularity,Vote_Count,Vote_Average,Original_Language,Genre,Poster_Url,tags,content
0,2021,Spider-Man: No Way Home,peter parker is unmasked and no longer able to...,5083.954,8940,8.3,en,action adventure science fiction,https://image.tmdb.org/t/p/original/1g0dhYtq4i...,Peter Parker is unmasked and no longer able to...,Peter Parker is unmasked and no longer able to...
1,2022,The Batman,in his second year of fighting crime batman un...,3827.658,1151,8.1,en,crime mystery thriller,https://image.tmdb.org/t/p/original/74xTEgt7R3...,"In his second year of fighting crime, Batman u...","In his second year of fighting crime, Batman u..."
2,2022,No Exit,stranded at a rest stop in the mountains durin...,2618.087,122,6.3,en,thriller,https://image.tmdb.org/t/p/original/vDHsLnOWKl...,Stranded at a rest stop in the mountains durin...,Stranded at a rest stop in the mountains durin...
3,2021,Encanto,the tale of an extraordinary family the madrig...,2402.201,5076,7.7,en,animation comedy family fantasy,https://image.tmdb.org/t/p/original/4j0PNHkMr5...,"The tale of an extraordinary family, the Madri...","The tale of an extraordinary family, the Madri..."
4,2021,The King's Man,as a collection of historys worst tyrants and ...,1895.511,1793,7.0,en,action adventure thriller war,https://image.tmdb.org/t/p/original/aq4Pwv5Xeu...,As a collection of history's worst tyrants and...,As a collection of history's worst tyrants and...

In [66]:
df.head(2)

,Release_Date,Title,Overview,Popularity,Vote_Count,Vote_Average,Original_Language,Genre,Poster_Url,tags,content
0,2021,Spider-Man: No Way Home,peter parker is unmasked and no longer able to...,5083.954,8940,8.3,en,action adventure science fiction,https://image.tmdb.org/t/p/original/1g0dhYtq4i...,Peter Parker is unmasked and no longer able to...,Peter Parker is unmasked and no longer able to...
1,2022,The Batman,in his second year of fighting crime batman un...,3827.658,1151,8.1,en,crime mystery thriller,https://image.tmdb.org/t/p/original/74xTEgt7R3...,"In his second year of fighting crime, Batman u...","In his second year of fighting crime, Batman u..."

## model building

In [67]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [68]:
tfidf = TfidfVectorizer(stop_words='english')

In [69]:
tfidf_matrix = tfidf.fit_transform(df['content'])

In [70]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [71]:
indices = pd.Series(df.index, index=df['Title']).drop_duplicates()

In [72]:
# df['unique_id'] = df['Title'] + " (" + df['Release_Date'].astype(str) + ")"
# indices = pd.Series(df2.index, index=df['unique_id']).drop_duplicates()

In [73]:
def recommend(title, num=5):
    if title not in indices:
        return f"No movie found with title '{title}'"
    
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)[1:num+1]
    movie_indices = [i[0] for i in sim_scores]
    
    return df[['Title', 'Release_Date']].iloc[movie_indices]

In [74]:
recommend("The Batman", 5)

                                      Title  Release_Date
559    Batman: The Long Halloween, Part Two          2021
6588  Batman: Return of the Caped Crusaders          2016
605    Batman: The Long Halloween, Part One          2021
109                           Batman Begins          2005
2414             Batman: Gotham by Gaslight          2018

In [75]:
def recommend_by_genre(genre, num=5):
    genre = genre.lower()
    # Filter rows that contain the genre
    genre_df = df[df['content'].str.lower().str.contains(genre)]

    # Vectorize the content of these filtered movies
    tfidf = TfidfVectorizer(stop_words='english')
    tfidf_matrix = tfidf.fit_transform(genre_df['content'])

    # Compute similarity within this filtered group
    cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

    # Recommend from the top N similar to the first one
    sim_scores = list(enumerate(cosine_sim[0]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)[1:num+1]
    movie_indices = [i[0] for i in sim_scores]

    return genre_df[['Title', 'content']].iloc[movie_indices]

In [76]:
recommend_by_genre("Crime", 5)

,Title,content
559,"Batman: The Long Halloween, Part Two","As Gotham City's young vigilante, the Batman, ..."
605,"Batman: The Long Halloween, Part One",Following a brutal series of murders taking pl...
6588,Batman: Return of the Caped Crusaders,Adam West and Burt Ward returns to their iconi...
211,The Dark Knight Rises,Following the death of District Attorney Harve...
767,Batman: Hush,A mysterious new villain known only as Hush us...

In [77]:
def recommend_by_cast(actor_name, num=5):
    actor_name = actor_name.lower()

    # Filter movies where actor is mentioned in the content
    actor_df = df[df['content'].str.lower().str.contains(actor_name)]

    if actor_df.empty:
        return f"No movies found with actor '{actor_name}'"

    # TF-IDF only on filtered data
    tfidf = TfidfVectorizer(stop_words='english')
    tfidf_matrix = tfidf.fit_transform(actor_df['content'])

    cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

    # Recommend similar to the first movie in the list
    sim_scores = list(enumerate(cosine_sim[0]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)[1:num+1]
    movie_indices = [i[0] for i in sim_scores]

    return actor_df[['Title', 'content']].iloc[movie_indices]

In [78]:
recommend_by_cast("Peter Parker", 5)

,Title,content
144,Spider-Man: Far From Home,Peter Parker and his friends go on a summer tr...
168,Spider-Man: Homecoming,Following the events of Captain America: Civil...
90,The Amazing Spider-Man,Peter Parker is an outcast high schooler aband...
132,The Amazing Spider-Man 2,"For Peter Parker, life is busy. Between taking..."
170,Spider-Man,After being bitten by a genetically altered sp...

In [79]:
df['content'] = df['content'].str.lower()

In [80]:
def recommend_by_language(language, num=5):
    language = language.lower()

    # Filter movies by language
    lang_df = df[df['content'].str.contains(language)]

    if lang_df.empty:
        return f"No movies found in language '{language}'"

    # TF-IDF on filtered language-based content
    tfidf = TfidfVectorizer(stop_words='english')
    tfidf_matrix = tfidf.fit_transform(lang_df['content'])

    cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

    # Recommend similar to the first one
    sim_scores = list(enumerate(cosine_sim[0]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)[1:num+1]
    movie_indices = [i[0] for i in sim_scores]

    return lang_df[['Title', 'content']].iloc[movie_indices]

In [81]:
recommend_by_language("en", 5)

,Title,content
170,Spider-Man,after being bitten by a genetically altered sp...
4057,Spider-Man Strikes Back,"at the new york state university, one of peter..."
144,Spider-Man: Far From Home,peter parker and his friends go on a summer tr...
191,Spider-Man: Into the Spider-Verse,miles morales is juggling his life between bei...
168,Spider-Man: Homecoming,following the events of captain america: civil...

In [82]:
import os

# Create the directory if it doesn't exist
os.makedirs("df", exist_ok=True)

# Now save the file
df.to_csv("df/netflix_cleaned.csv", index=False)

In [83]:
import pickle

# Save everything to a single pickle file
with open('netflix_recommender.pkl', 'wb') as f:
    pickle.dump({
        'df': df,
        'tfidf_matrix': tfidf_matrix,
        'tfidf': tfidf,
        'cosine_sim': cosine_sim,
        'indices': indices
    }, f)

In [84]:
with open('netflix_recommender.pkl', 'rb') as f:
    data = pickle.load(f)

# Access them like this:
df = data['df']
tfidf_matrix = data['tfidf_matrix']
tfidf = data['tfidf']
cosine_sim = data['cosine_sim']
indices = data['indices']